.button {
  border-radius: 2.875rem;
  padding: 0 3px;
  min-width: 6rem;
  height: 1.875rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;

  &[disabled]{
    cursor:not-allowed
  }
}
.primary{
  background-color: var(--color-primary);
  color:var(--color-white)

  &[disabled]{
    background-color: var(--dark-gray);
    color:bar(--light-gray)
  }

  &:hover{
    background-color: var(--color-primary2);
  }
}

.secondary{
  background-color: var(--color-white);
  color:var(--color-primary)

  &[disabled]{
    background-color: var(--light-gray);
    color:bar(--dark-gray)
  }

  &:hover{
    background-color: var(--color-primary2);
  }
}
