.profile-image {
  border-radius: 50% 50%;
  width: 100%;
  height: 100%;
  background-color: red;
  background-position: 50% 50%; // 원형이미지
  background-size: 100% 100%;
}

.black{
  color:var(--black-color);
}

.white{
  color:var(--white-color);
}

.size-sm{
  width:2rem;
  height:2rem;
}

.size-md{
  width:4rem;
  height:4rem;
}

.size-lg{
  width:100%;
  height:100%;
}