#footer {
  width:100%;
  padding: 2rem 0 0 0;
  background-color: rgba(55, 55, 55, 1);
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-log-text {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;
}

.footer-link-box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding:0 1rem;
}

.footer-email-link {
  color: rgba(255, 255, 255, 1);
  font-size: 0.75rem;
  font-weight: 400;
}

.footer-copyright {
  color: rgba(255, 255, 255, 1);
  font-size: 0.75rem;
  font-weight: 400;
}
