<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backproject.springback.mapper.UserMapper">
  <select id="existsByEmail"
    resultType="boolean"
  > SELECT EXISTS (SELECT 1 FROM `user` WHERE email = #{email}) </select>
  <select id="existsByNickname"
    resultType="boolean"
  > SELECT EXISTS (SELECT 1 FROM `user` WHERE nickname = #{nickname}) </select>
  <select id="existsByTelNumber"
    resultType="boolean"
  > SELECT EXISTS (SELECT 1 FROM `user` WHERE tel_number = #{telNumber}) </select>
  <select id="findByEmail"
    resultType="com.backproject.springback.entity.UserEntity"
  > SELECT
      email,
      password,
      nickname,
      tel_number,
      address,
      address_detail,
      profile_image,
      agreed_personal
    FROM `user` 
    WHERE email = #{email} </select>
  <insert id="insert" parameterType="com.backproject.springback.entity.UserEntity">
    INSERT INTO user ( email, password, nickname, tel_number, address, address_detail, profile_image, agreed_personal)
    VALUES ( #{email}, #{password}, #{nickname}, #{telNumber}, #{address}, #{addressDetail}, #{profileImage}, #{agreedPersonal})
  </insert>
  <update id="update" parameterType="com.backproject.springback.entity.UserEntity">
    UPDATE `user`
    SET password = #{password}, 
        nickname = #{nickname}, 
        tel_number = #{telNumber}, 
        address = #{address}, 
        address_detail = #{addressDetail}, 
        profile_image = #{profileImage}, 
        agreed_personal = #{agreedPersonal}
    where email = #{email}
  </update>
</mapper>